# UFriend CX Dashboard - Server Environment Configuration Template

# Server Port
PORT=3000

# Server Environment (development/production)
APP_ENV=development

# MongoDB Connection parameters
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=ufriend_cx
